/* navbar container */
.custom-navbar {
    background-color: #0f0f0f;
    z-index: 999;
}

/* sticky navbar */
.stick-navbar {
    position: fixed;
    padding: 7px;
    z-index: 999;
    top: 0;
    right: 0;
    border-bottom: solid 1px #ffffff22;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: stick-navbar .5s ease;
}
/*  navbar animation on unstick */ 
.navbar-section-2.remove-animation-navbar,
.custom-navbar.remove-animation-navbar{
    animation: remove-stick-navbar 0.3s ease;
}
@keyframes stick-navbar {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0px);
    }
}
/* navbar animation on unstick */
@keyframes remove-stick-navbar {
    from {
        opacity: 0;
        transform: translateY(-500px) 
    }

    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

/* disappears when navbar is stuck */
.stick-navbar .veggora-logo-desktop {
    display: none
}

/* test */
body {
    background-color: #0f0f0f;
}

/* this section contains.. logo, input group, etc.*/
.navbar-section-1 {
    justify-content: center;
    /*in desktop mode*/
    background-color: inherit;
}

/* this section contains nav links */
.navbar-section-2 {
    justify-content: center;
    /*on desktop mode*/
    background-color: inherit;
}

/* search input bar */
.nav-input-group {
    height: 45px;
    border-radius: 15px;
    background-color: rgb(26, 34, 46);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.nav-input-group input {
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: none
}

/* When its get in focus the bg of input bar's bg and text shadow change */
.nav-input-group input:focus {
    transition: all 0.3s;
    background-color: rgb(37, 37, 37);
    outline: 3px rgb(45, 45, 45) solid;
}

.nav-input-group input::placeholder {
    font-weight: 600;
    color: rgb(183, 183, 183);
    letter-spacing: 1px;
}

/* location. based on whether the user has set the addresss or not */
.location-info h5 {
    font-weight: 800;
}

/* edit address or view full address */
.location-info a {
    font-size: 14px;
    text-decoration: none;
}


/* on desktop this icon won't be visible */
.veggora-logo-mobile {
    display: none
}

/* effects on hovering (desktop) */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.07);
}

/* dropdown login */
.dropdown-login-options {
    font-size: 14px;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    transition: 0.5s all;
    animation: dropdown-animation 0.5s;
}

/* login button */
.nav-item-login {
    background-color: #444d6b;
    box-shadow: 0px 0px 3px #2f3754;
}

.nav-link-login p {
    color: rgb(255, 255, 255);
    font-weight: 800;

}


/* HOME PAGE */
/* Categories*/
.category-list {
    border-radius: 15px;
    background-color: #1c1c1c;
    box-shadow: 0px 0px 5px black;

}

/* category link */
.category-link {
    color: rgb(222, 224, 234);
    border: 1px solid rgba(255, 255, 255, 0.037);
    font-size: 14px;
    font-weight: 700;
}

/* link to show all products of a specific category */
.see-all-category-link {
    color: rgb(172, 172, 255);
    border-radius: 5px;
    padding: 5px 7px;
}

.see-all-category-link:hover {
    background-color: rgba(255, 255, 255, 0.14);
    color: white;
    transition: all 0.3s;
}
/* heading of category*/
.category-name {
    font-size: 18px;
    font-weight: bolder;
}

/* Animations */
/* dropdown animation */
@keyframes dropdown-animation {
    from {

        opacity: 0;
    }

    to {

        opacity: 1;
    }
}

/* MEDIA QUERIES */

/* tablets */
@media (min-width:531px) and (max-width:840px) {
    .custom-navbar {
        /*for small screens nav section 1 and 2 place vertically*/
        flex-direction: column;
    }

    /* search bar */
    .navbar-section-1 {
        order: 3;
        /*swapping the positions of nav sections*/
        width: 100%;
        justify-content: center;
        margin-bottom: 3px;
    }
    
    /* nav links section */
    .navbar-section-3 {
        order: 1;
        /*swapping the positions of nav sections*/
        width: 100%;
        margin-bottom: 3px;
        justify-content: space-between;
    }
    
    /* delivery address info and more */
    .navbar-section-2 {
        justify-content: center;
        width: 100%;
        order: 3;/*swapping the positions of nav sections*/

    }

    /* adjust input group size for smaller screens*/
    .nav-input-group {
        height: 45px;
        width: 80%;
    }

    /* visible logo for small screens */
    .veggora-logo-mobile {
        display: block;
    }

    /* not visible on small screens */
    .veggora-logo-desktop {
        display: none;
    }



}

/*  mobile phones*/
@media (max-width:530px) {
    .custom-navbar {
        flex-direction: column;
        /*for small screens nav section 1 and 2 place vertically*/
    }

    /* delivery address info and more */
    .navbar-section-1 {
        justify-content: space-evenly;
        width: 100%;
        order: 2;/*swapping the positions of nav sections*/
        margin-bottom: 3px;
    }
    
    /* search bar */
    .navbar-section-2 {
        order: 3;
        /*swapping the positions of nav sections*/
        width: 100%;
        justify-content: center;
    }
    
    
    /* links */
    .navbar-section-3 {
        order: 1;
        /*swapping the positions of nav sections*/
        width: 100%;
        justify-content: space-between;
        margin-bottom: 3px;
    }

    .navbar-section-3 .para-link {
        display: none
            /*removing labels from small screen devices*/
    }

    /* adjust input group size for smaller screens*/
    .nav-input-group {
        width: 100%;
    }

    /* customize placeholder */
    .nav-input-group input::placeholder {
        font-size: 14px;
    }

    /* visible logo for small screens */
    .veggora-logo-mobile {
        display: block;
    }

    /* not visible on small screens */
    .veggora-logo-desktop {
        display: none;
    }

    /* font gets smaller */
    .nav-link-login {
        font-size: 14px;
    }

    /* link to all products of a specific category */
    .see-all-category-link {
        font-size: 14px;
    }
    .category-link{
        font-size: 12px;
    }
}

/* For small desktop*/
@media (min-width:841px) and (max-width:1031px) {
    .navbar-section-3 {
        justify-content: center;
    }


    .navbar-section-3 .para-link {
        display: none
            /*removing labels from small screen devices*/
    }

    /* adjust input group size for smaller screens*/
    .nav-input-group {
        width: 350px;
    }

    /* customize placeholder */
    .nav-input-group input::placeholder {
        font-size: 14px;
    }

    .nav-link-login {
        font-size: 12px;
    }
}

/* Desktops */
@media (min-width: 1030px) {
    .nav-input-group {
        width: 480px;
    }
}

/* for extra small screens */
@media (max-width: 386px) {
    .nav-item {
        height: 40px;
    }

    .category-link {
        font-size: 11px;
    }

    .category-name {
        font-size: 13px;
    }

    .see-all-category-link {
        font-size: 10px;
    }

    .nav-link-login {
        font-size: 10px;
        padding: 0px;
    }
}