/* navbar container */
.custom-navbar{
    background-color: #0f0f0f;
    box-shadow: 0px 1px 2px rgb(55, 55, 55);
    z-index: 999;

}

/* this section contains.. logo, input group, etc.*/
.navbar-section-1{
    flex-grow: 1; /*grows on desktop*/
    justify-content:space-around; /*in desktop mode*/
    background-color: inherit;
}
/* this section contains nav links */
.navbar-section-2{
    flex-grow: 1; /*grows on desktop*/
    justify-content: center;  /*on desktop mode*/
    background-color: inherit;
}
/* search input bar */
.nav-input-group{
    height: 40px;
    width: 480px;
    background-color: rgb(26, 34, 46);
    box-shadow: 0px 0px 3px rgb(0, 0, 0);
}
.nav-input-group input{
    background-color: transparent;
    outline: none; 
}
/* When its get in focus the bg of input bar's bg and text shadow change */
.nav-input-group input:focus{
    transition: all 0.5s;
    background-color: #000000;
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.179);
}

/* filter button in nav section 1 */
.filter-btn{
    height: 40px; 
    font-size: 12px;
    border: rgba(255, 255, 255, 0.045) solid 1px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.063);
}
.filter-btn:hover{
    background-color: rgba(255, 255, 255, 0.12);
}