@font-face{
  font-family:"Funnel Sans";
  src: url("../public/Funnel_Sans/FunnelSans-VariableFont_wght.ttf") format("truetype");
}
*{
  margin: 0;         /* Remove default margins */
  padding: 0;        /* Remove default padding */
  box-sizing: border-box; /* Ensures padding & border don't affect width */
  font-family: "Funnel Sans", sans-serif; /* Apply default font */
}
body{
  letter-spacing: 1px;
}
:root {
  --bg-color: white;
  --text-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
  }
}

